.item {
  width: 300px;
  height: 500px;
  /*position: relative;*/
  border-radius: 3px;
  /*overflow: hidden;*/
  z-index: 100;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.canvas {
  position: absolute;
  z-index: 100;
}
.canvas_container{
  position: absolute!important;
  z-index: 101;
}
.canvas_image {
  position: absolute;
  z-index: 50;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/25776/thumb-1920-595688.jpg');
  background-size: cover;
  width: 300px;
  height: 500px;
}
