.items {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 25px;
  flex-wrap: wrap;
  margin-right: -25px;
}

.item  {
  width: 125px;
  height: 170px;
  border-radius: 3px;
  background: white;
  margin-bottom: 25px;
  cursor: pointer;
  background-size: cover;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  margin-right: 25px;
}
