
.is_item {
  width: 300px;
  height: 500px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  z-index: 100;
  background: #ffffff;
}

.is_wrapper {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 15;
}

.segment {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: 30;
}

.form {

}

.content {

}

.input {
  margin: 0;
  outline: none;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255,255,255,0);
  line-height: 1.21428571em;
  padding: .58035714em .875em;
  font-size: 12px;
  background: #fff;
  border: 1px solid #ececf0;
  color: rgba(0,0,0,0.87);
  border-radius: 4px;
  background: #fff;
}

/*promo*/
.demo {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.wave {
  overflow: hidden;
  position: absolute;
  width: 140%;
  transform: translateY(-50%);
  color: #fff;
  margin-left: -20%;
  animation:  waveAnimateA 2s ease-in-out infinite alternate;
}

svg {
  fill: currentColor;
  width: 102%;
  margin-left: -1%;
  height: auto;
}

.gradient {
  overflow: hidden;
  height: 300px;
  background-color: rgba(8, 0, 103, 1);
  background-image: linear-gradient(
    0deg,
    rgba(0, 7, 88, 0.8),
    rgba(8, 0, 103, 1)
  );
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.16);
}
.gradient::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
}
.gradient::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  background: radial-gradient(
    rgba(101, 0, 117, 1) 12.18%,
    rgba(85, 15, 100, 0) 73.53%
  );
  width: 100%;
  height: 200%;
  right: -30%;
  top: 0;
}
.gradient::after {
  background: radial-gradient(
    rgba(0, 133, 93, 1) 2.94%,
    rgba(0, 173, 159, 0) 69.33%
  );
}

@keyframes waveAnimateA {
  0% {
    transform: translate(-45px, -52%);
  }

  100% {
    transform: translate(45px, -50%);
  }
}
