.column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  height: 100%;
}

.wrapper {
  width: 100%;
  padding: 25px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: 14px;
}

.nav_item {
  margin-right: 20px;
  color: blue;
  cursor: pointer;
}
